@import "tailwindcss";


:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --nav-background: #edecec;
  --nav-text: #04080F;
  --ps1: #262E3F;
  --pst1: #F0F1F3;
  --resume: #005cb8;
  --resume-hover: #0966C2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-nav-background: var(--nav-background);
  --color-nav-text: var(--nav-text);
  --color-section-bg1: var(--ps1);
  --color-section-text: var(--pst1);
  --color-resume: var(--resume);
  --color-resume-hover: var(--resume-hover);
}

@theme {
  --breakpoint-custom-md: 860px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html { 
  scroll-behavior: smooth;
}